.area {
    background-color: blue;
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    width: 39%;
    margin: 0 auto;
}

.wrapper {
    width:  90%;
}

h1{
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: Inter, sans-serif;
}

p{
    text-align: center;
    font-size: 12px;
    font-family: Inter, sans-serif;
    line-height: 24px;
    color: white;
    padding-bottom: 15px;
}

.button{
    text-align: center;
}

.button button{
    padding: 9px 28px;
    border-radius: 20px;
    font-size: 10px;
    color: blue;
    background-color: white;
    font-family: Inter, sans-serif;
}