 body{
    margin: 0;
    padding: 0;
 }
 
 .area{
    background-color: #014DB5;
 }


 .container{
    width: 51%;
    margin: 0 auto;
 }


 .wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
 }


 .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
 }


 .menu ul li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        padding: 8px 10px;
 }

  
h1 {
    text-align: center;
    color: white;
    font-family:Inter, sans-serif;
    font-size: 32px;
    padding-top: 40px;
}


p {
    text-align: center;
    padding-bottom: 90px;
    color: white; 
    font-family:Inter, sans-serif;
    font-size: 12px;
    line-height: 21px;
    margin-top: -16px;
}


img{
    width:75%; 
    margin-top: -5px;
}