 

.div1 {
    width: 250px;
    height: 250px;
    background-color: red;
    margin-left: 90px;
}
 
.div2 {
    width: 250px;
    height: 250px;
    background-color: rgb(12, 251, 56);
    margin-top: 90px;
    margin-left: 90px;
    padding:90px;
}