*{
margin:0;
padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.about-area {
    background-color: rgb(4, 253, 129);
}

.about-wrapper {
    display: flex;
}

.about-content {
    margin-left: 90px;
    padding: 60px 30px;
}

.about-image {
    margin-top: 90px;
}

p {
    text-align: justify;
}

h1{
   margin-bottom: 20px;
}
 