


*{
    margin:0;
    padding:0;
   
    }
     
.image-area{

background-color: #ff9100;

}

 .aa{
    background: url('aq.jpg');
    height: 1000px;
     }
     

     h1 {
        padding: 20px;
        text-align: center;
        color: rebeccapurple;
    }




     .h1 {
        color: #b2ff00;
        font-size: 30px;
        
        font-weight: 100px;
        padding: 30px 40px;
        text-align: center;
    } 
    
    input{ 
    display: block;
    margin: 20px;
    padding: 10px 10px;
    border: 1px solid rgb(243, 247, 9);
    border-radius: 10px;
    width: 300px;
    background: none;
    color: rgb(12, 235, 250);
    font-size: 20px;
    
    }

    form{
    width:350px;
    margin:auto;
    
    }
    
    button{
        font-size: 20px;
        margin: 20px 30px;
        padding: 10px 30px;
        background: #08fcf8;
        border: 3px solid blue;
        border-radius: 50px;
        margin-left: 230px;
    
    }
    