.area {
    width: 100%;
    height: 600px;
}

.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 60%;
    height: 250px;
    padding: 90px 90px;
}

.box2 {
    width: 40%;
    height: 200px;
    padding: 90px;
}
img {
    height: 300px;
    outline-width: 10px;
    outline-style: double;
    outline-offset: 15px;
    outline-color: rgb(255, 187, 127);
    border-radius: 10px;    
}

p {
    text-align: justify;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #00f7ff;
    border: 6px solid rgb(243, 247, 3);
    border-radius: 10px;
    margin-top: 10px;
}
