BODY{
    padding: 0;
    margin: 0;
}

.area{
    background:url('banner.jpg');  
    height: 750px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width:65%;
    margin: 0 auto;
}


.wrapper{
    display: flex;
    justify-content: space-between;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 30px;
}

img{
    margin-top: 30px; 
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 20px;
}

.hp {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 55px;
    color: #2C541D;
    letter-spacing: 5px;
}


h2 {
    font-size: 30px;
    color: #2C541D;
    font-weight: 400;
    letter-spacing: 5px;
}

.button button {
    padding: 10px 28px;
    background-color:  #74A84A;
    color: white;
}

 
