.area{
    background-color: rgb(7, 7, 7);
    margin-top: 90px;
    text-align: center;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.wrapper{
    text-align:center;
    padding-top:100px;
    padding-bottom: 100px;
    border: 10px solid rgb(68, 251, 117);
    }